.cart {  
  width: 0;
  height: 0;
  position: absolute;
  top: -5000px;
  right: -5000px;
  visibility: hidden;
}

.cart.cart--active {
  background-color: var(--gray-100);
  max-width: 404px;
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 8px;
  height: auto;
  max-height: 976px;
  visibility: visible;
}

.cart__title {
  color: var(--gray-950);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}

.cart__close{
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  border-bottom: 1px solid var(--gray-700);
}

.cart__body {
  padding: 0px 32px;
}

.cart__quantity-items {
  color: #000;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.cart__delete-all{
  color: var(--brown-400);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  text-decoration-line: underline;
}

.cart__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0
}

.cart__products {
  padding: 32px 0;
  max-height: 557px;
  overflow-y: auto;
}
.cart__products::-webkit-scrollbar { 
  display: none;
}

.cart__product--image {
  width: 48px;
  height: 48px;
  border-radius:  4px;
}

.cart__product--name {
  color: var(--gray-900);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.cart__product--price {
  color: var(--gray-950);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}

.cart__product {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid var(--gray-700);
  padding: 8px 0;
}

.cart__product .product__tag {
  padding: 8px 0 16px 0;
}

.cart__product .product__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 1px solid var(--gray-700);
  border-radius: 6px;
  overflow: hidden;
}

.cart__product .product__quantity button {
  width: 40px;
  height: 100%;
  background-color: var(--brown-400);
  color: var(--gray-100);
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cart__product .product__quantity button:hover {
  background-color: var(--brown-300);
}

.cart__product .product__buy {
  padding-top: 0;
}
.cart__product .product__quantity--input {
  width: calc(120px - 64px);
}

.cart__product--delete{ 
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
}

.cart__product--row {
  display: flex;
  justify-content: space-between;
  width: 284px;
}

.cart__product--column {
  width: 252px;
}

.cart__footer {
  padding: 32px;
}

.cart__footer--row  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}

.cart__footer--subtotal .cart__footer--title,
.cart__footer--delivery .cart__footer--title {
  color: var(--gray-900);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.cart__footer--subtotal .cart__footer--price,
.cart__footer--delivery .cart__footer--price {
  color: var(--gray-950);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}


.cart__footer--total .cart__footer--title {
  color: var(--gray-900);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.cart__footer--total .cart__footer--price {
  color: var(--gray-950);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.cart__buy {
  width: 339px;
  padding: 12px 16px;  
  border-radius: 4px;
  background: var(--brown-400);
  border: 0;

  color: var(--gray-100);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
}
